
@import url('./JMHArkham.css');
@import url('./bootstrap-icons.css');

/*
dimension les plus vues en web :
px      =>  Pixel
em      =>  cadratin : unité de mesure en print sur les presses
            le cadratin se calcul par rapport à son parent
rem     =>  cadratin racine : se calcul par rapport à la taille racine de police
%       =>  pourcentage, se calcule par rapport à l'élément qui le contient
vw & vh =>  viewport width & viewport height : correspond à la taille 
            d'affichage de la page en largeur et en hauteur
            si affichage en largeur 768px alors 20vw = 153.6 px

si 2em = 32 px, 1em = 16px

*/

:root{
    font-family: Arial, Helvetica, sans-serif;
    /* le :root permet de créer des variables qui appelable par les règles css avec var()*/
    --couleur-texte-generale: rgb(34, 33, 38);
    --bg-header: var(--couleur-texte-generale);
    --header-text-color: #f2c438;
    --article-button-bg: #f2b544;
    --heading-font: 'JMHArkham';
    --main-bg-color: rgba(242,242,242,0.80);
    --page-bg-color: black;
    --grid-div-border: rgb(60, 90, 172);
    --grid-div-bg: rgba(60, 90, 172, 0.5);
}

*, *::before, *::after{
    box-sizing: border-box;
}

/* classes et classes appliquées à des éléménts */

.deuxEm{
    font-size: 2em;
}

.deuxRem{
    font-size: 2rem;
}

.form-help::before{
  font-family: bootstrap-icons !important;
  content: "\f430";
}

.form-help{
    display: block;
    width: 100%;
    margin-top: 10px;
    border: 1px solid var(--article-button-bg);
    padding: 5px;
    background-color: var(--header-text-color);
    border-radius: 5px;
}

.divLettreCercle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: crimson;
    color: white;
    font-weight: bold;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.blocAnimate{
    width: 50px;
    height: 50px;
    background-color: crimson;
    border: 1px solid black;
    margin: 2px;
}

.threeStates{
    width: 200px;
    height: 50px;
    background-color: crimson;
    border: 1px solid black;
    margin: 2px;
}

figure.iframeVideo{
    position:relative;
    padding-bottom:56.25%;
    height:0;
    overflow:hidden;
}

iframe.iframeVideo{
    width:100%;
    height:100%;
    position:absolute;
    left:0px;
    top:0px;
    overflow:hidden;
}

/* règles appliquées à des éléments */

img{
    max-width: 100%;
}

figure, figure figcaption{
    background-color: var(--bg-header);
    color: var(--header-text-color);
    padding: 5px;
}

video{
    width: 100%;
    max-width: 500px;
}

audio{
    width: 100%;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--heading-font);
}

blockquote{
    background-color: var(--main-bg-color);
    padding: 10px;
}

a, a:visited{
    color: #0d6efd;
    font-weight: bold;
    text-decoration: none;
}

mark{
    background-color: var(--article-button-bg);
    color: var(--couleur-texte-generale);
}

/* définition des propriétés CSS pour les tableaux en général */

table{
    width: 100%;
    border-collapse: collapse;
}

table thead, table tfoot{
    background-color: var(--bg-header);
    color: var(--header-text-color);
}

table tbody tr{
    border-top: 1px solid var(--couleur-texte-generale);
}

table tbody tr:last-child{
    border-bottom: 1px solid var(--couleur-texte-generale);
}

table tbody tr:nth-of-type(odd){
    background-color: var(--main-bg-color);
}


table td, table th{
    /*
    border-width: 1px;
    border-style: solid;
    border-color: var(--couleur-texte-generale);
    */
    word-break: break-word;
    padding: 2px;
}

table td:not(first-child){
    border-left: 1px solid var(--couleur-texte-generale);
}

/* style des formulaires du site */

form fieldset{
    background-color: var(--main-bg-color);
    margin-bottom: 10px;
    border-radius: 5px;
}

form fieldset legend{
    background-color: var(--article-button-bg);
    color: var(--bg-header);
    text-transform: uppercase;
    padding: 10px;
    border: 2px solid var(--bg-header);
    border-radius: 5px;
    font-weight: bold;
}

form fieldset p{
    display: flex; 
    justify-content:space-between;
    flex-wrap: wrap;
    margin-bottom: 5px;
}

form fieldset p label{
    /*width: 200px;*/
    width: 100%;
    margin-bottom: 5px;
}

form fieldset p input[type=text],
form fieldset p input[type=email],
form fieldset p input[type=tel],
form fieldset p select
{
    /*min-width: calc( 100% - 200px );*/
    width: 100%;
    line-height: 1.5rem;
    border: 1px solid #666;
    border-radius: 5px;
}

form fieldset p select{
    height: 2rem;
}

/* règles appliquées aux éléments dans l'architecture */

body{
    color: var(--couleur-texte-generale);
    margin: 0;
    background: linear-gradient(to right, rgba(0,0,0,0.4), rgba(0,0,0,1)), 
    url('../images/city-black-n-white.png') bottom left fixed repeat-x;
    background-color: var(--page-bg-color);
}

body > header h1{
    margin: 0;
}

body > header,
body > nav,
body > footer{
    color: var(--header-text-color);
    background-color: var(--bg-header);
    padding: 5px 20px;
}

body > nav > ul{
    line-height: 2rem;
    margin-left: auto;
    margin-right: auto;
}

body > nav > ul > li{
    border-top: 1px solid var(--header-text-color);
}

body > nav > ul > li:last-child{
    border-bottom: 1px solid var(--header-text-color);
}

body > nav > ul > li a, 
body > nav > ul > li a:visited{
    color: var(--header-text-color);
    text-decoration: none;
    display: block;
    padding-left: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

body > nav > ul > li a:hover,
body > nav > ul > li a:focus,
body > nav > ul > li a:focus-visible{
    color: var(--bg-header);
    background-color: var(--header-text-color);
}

body > main{
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    background-color: var(--main-bg-color);
}

body > main > section > article > footer{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
}

body > main > section > article > footer button{
    text-transform: uppercase;
    font-weight: bolder;
    padding: 5px 10px;
    line-height: 2rem;
    border: 1px solid var(--bg-header);
    border-radius: 50%;
    background-color: var(--article-button-bg);
}

body > main > section > article > footer button:hover{
    background-color: var(--couleur-texte-generale);
    color: var(--article-button-bg);
}


/* 
media queries : 
    précision css quand à divers paramètre comme le type d'affichage 
    ou la largeur d'affichage de l'appareil  
*/

@media (min-width: 576px){
    body > main, body > nav > ul{
        max-width: 540px;
    }

    body > nav{
        padding: 5px 0;
    }

    body > nav > ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    body > nav > ul > li{
        border-bottom: 1px solid var(--header-text-color);
    }
    
    body > nav > ul > li a, 
    body > nav > ul > li a:visited{
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (min-width: 768px){
    body > main, body > nav > ul{
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    body > main, body > nav > ul{
      max-width: 960px;
    }

    body > main > section{
        display: flex;
        flex-wrap: wrap;
    }

    body > main > section > article{
        width: calc( 50% - 20px );
        margin-left: 10px;
        margin-right: 10px;
    }

    body > main > section > article:last-child:nth-of-type(2n+1){
        width: calc( 100% - 20px );
        margin-left: 10px;
        margin-right: 10px;
    }
  }
  @media (min-width: 1200px) {
    body > main, body > nav > ul{
      max-width: 1140px;
    }
  }
  @media (min-width: 1400px) {
    body > main, body > nav > ul{
      max-width: 1320px;
    }

    body > main > section > article{
        width: calc( 33% - 20px );
        margin-left: 10px;
        margin-right: 10px;
    }

    body > main > section > article:last-child:nth-of-type(3n+2){
        width: calc( 66% - 20px );
        margin-left: 10px;
        margin-right: 10px;
    }

    body > main > section > article:last-child:nth-of-type(3n+1)
    {
        width: calc( 100% - 20px );
        margin-left: 10px;
        margin-right: 10px;
    }
    /*body > main > section:nth-child(4) > article*/
  }